.grid-container--crew > picture {
	max-width: 100%;
}

.grid-container--technology {
	justify-items: start;
	grid-template-columns: 
		minmax(1rem, 1fr)
		minmax(0, 7rem)
		minmax(0, 40rem)
		minmax(0, 23rem)
		minmax(1rem, 1fr);
	
	grid-template-areas:
		'. title title title .'
		'. tabs content image image';
}

.grid-container--technology > article h2 {
	font-size: clamp(2.5rem, 3vw + 1rem, 3.5rem);
}

.grid-container--technology > .number-indicators {
	flex-direction: column;
}
